{% extends "./layout.html" %}
{% load widget_tweaks %}
{% load static %}
{% block style %}
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="{% static 'students/images/icons/favicon.ico'%}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'students/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'students/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'students/fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'students/vendor/animate/animate.css'%}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'students/vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'students/vendor/animsition/css/animsition.min.css'%}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'students/vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'students/vendor/daterangepicker/daterangepicker.css'%}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'students/css/util.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'students/css/login.css'%}">
<!--===============================================================================================-->
{% endblock %}
{% block content %}
<!--for error -->
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="" style="padding: 20px;background-image: url('{% static 'students/images/bg-01.jpg'%}');background-size: cover;">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Error !</strong> {{message}}.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{% endif %}
{% if message.tags == 'success' %}
<div class="container ">
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Success !</strong> {{message}}.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{% endif %}
{% endfor %}
<div class="limiter">
    <div class="container-login100" style="background-image: url('{% static 'students/images/bg-01.jpg'%}');">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
            <form class="login100-form validate-form flex-sb flex-w" action="{% url 'students:login' %}" method="POST">
                {% csrf_token %}
                <span class="login100-form-title p-b-53">
                    Sign In With
                </span>
                <div class="p-t-31 p-b-9">
                    <label class="txt1" for="exampleInputEmail1">User Name</label>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Username is required">
                    {% render_field form.username class+="form-control" placeholder="username" required=True %}
                    <span class="focus-input100"></span>
                </div>
                <div class="p-t-13 p-b-9">
                    <label class="txt1" for="exampleInputPassword1">Password</label>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    {% render_field form.password class+="form-control" placeholder="password" required=True %}
                    <span class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn m-t-17">
                    <button type="submit" class="login100-form-btn">
                        Sign In
                    </button>
                </div>
                <div class="w-full text-center p-t-55">
                    <span class="txt2">
                        Not a member?
                    </span>
                    <a class="txt2 bo1" href="{% url 'students:register' %}">Sign up now</a> ,
                </div>
            </form>
        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>
{% endblock %}
<!--file javascript-->
{% block js %}
<!--===============================================================================================-->
<script src="{% static 'students/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
<script src="{% static 'students/vendor/animsition/js/animsition.min.js'%}"></script>
<!--===============================================================================================-->
<script src="{% static 'students/vendor/bootstrap/js/popper.js'%}"></script>
<script src="{% static 'students/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
<script src="{% static 'students/vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
<script src="{% static 'students/vendor/daterangepicker/moment.min.js'%}"></script>
<script src="{% static 'students/vendor/daterangepicker/daterangepicker.js'%}"></script>
<!--===============================================================================================-->
<script src="{% static 'students/vendor/countdowntime/countdowntime.js'%}"></script>
<script src="{% static 'students/js/login.js'%}"></script>
<!--===============================================================================================-->
{% endblock %}